@import "tailwindcss";

@theme {
    --color-main: #a83232;
    --color-Hover: #8c2a2a;
    --color-sky: #4DB8FF;
    --color-new: #ffc107;
    --color-dark: #1F1F1F;
    --color-dgray: #4B5563;
   --color-bird: #FAFAF7;
   --color-burg: #C9A227;
   --color-ivory: #F5F2E9;
   --color-hove: #6B1E1E;

 
}

